<div class="container">
  <%= render "tabs" %>
  <% @articles.each do |article| %>
    <%= link_to article_path(article) do %>
      <%= render 'article', article: article %>  
    <% end %>
  <% end %>

  <%= link_to new_article_path do %>
    <div class="float_btn">
      <i class="fa fa-plus"></i>
    </div>
  <% end %>  
</div>
